service: default
runtime: python39
entrypoint: bash -c "cd fastapi-api && alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port $PORT"

beta_settings:
  cloud_sql_instances: traxy-backend:us-central1:traxy-database

env_variables:
  DB_USER: "__DB_USER__"
  DB_PASS: "__DB_PASS__"
  DB_NAME: "__DB_NAME__"
  CLOUD_SQL_CONNECTION_NAME: "__CLOUD_SQL_CONNECTION_NAME__"
  SECRET_KEY: "__BACKEND_SECRET_KEY__"

handlers:
  - url: /.*
    script: auto

automatic_scaling:
  max_instances: 1