fastapi
uvicorn[standard]
SQLAlchemy
databases[postgresql]
passlib[bcrypt]
python-jose[cryptography]
pydantic
email-validator>=2.0.0,<3.0.0
authtools
pytest
httpx
alembic==1.13.1
psycopg2-binary
google-cloud-secret-manager>=2.0.0
pytz
bcrypt>=4.0.0
passlib[bcrypt]>=1.7.4